$error: #a80000;

$grayBackground:#EFEFEF;
$grayElement:#FAFAFA;
$grayPanel: #F5F5F5;
$grayPlaceholder: #353535;
$whiteElement:#fff;
$blackText : #1D1D1D;

$grayLight: #E2E2E2;
$grayText : #737680;
$grayTitle: #525252;
$grayPlaceholder : #646464;
$grayTable : #ebebeb;

$grayDisabled : #696969;
$grayDisabledInput : #d3d3d3;

$lightOrangeHoll: #FFCAA4;
$orangeHoll: #EE6603;
$orangeHollHover: #d45800;
$darkBlueHoll: #043C4E;

$greenMagnard : #46913A;
$redMagnard : #FF6969;