$black:#2C2C2C;
$darkBlue:#2B2C89;
$blue:#1E90D9;
$pastelBlue:#DCE2FF;
$pastelGrayBlue:#EAEAF4;
$lightGray:#FAFBFF;
$darkGray:#9FA4BE;
$grayBackground:#F0F0F4;
$white:#FFFFFF;
$pink:#FF3881;
$lightGrayBackground:#F9F9F9;

$darkBackground: mix(white, $black, 96%);
$darkBlueBackground: mix(white, $darkBlue, 96%);
$blueBackground: mix(white, $blue, 96%);
$darkGrayBackground: mix(white, $darkGray, 96%);
$whiteBackground: mix(white, $white, 96%);
$pinkBackground: mix(white, $pink, 96%);

$purplePastelBackground: #d5d1ff;
$purplePastelText: #8E7DCD;
$red:#D61B1B;
$redkBackground: mix(white, $red, 96%);
$connected:#1AC78C;


// CENTRE NOTIFICATION
$problemTexte:#7B2828;
$problemSousTexte:#AD7A7A;
$problemBackground:#F6D8DD;
$problemBackgroundIcon:#F7C8CC;

$validTexte:#287B32;
$validSousTexte:#7AAD80;
$validBackground:#D6E6DE;
$validBackgroundIcon:#C5DDCD;
// FIN CENTRE NOTIFICATION