@use "./colors" as*;
@use "./mixins" as *;
@use "./themes" as *;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  @include PoppinsRegular();
}

body {
  width: 100%;
  background-color: $grayBackground;
  font-weight: 400;
  position: relative;
  font-size: var(--font-size-text);
}

main {
  margin-top: 75px;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

.containerGlobal {
  width: 100%;
  box-sizing: border-box;
}

.c-scrollbar {
  z-index: 999;
}

h1 {
  @include PoppinsBold();
  font-size: var(--font-size-h1);
}

h2 {
  @include PoppinsSemiBold();
  font-size: var(--font-size-h2);
}

h3 {
  @include PoppinsMedium();
  font-size: var(--font-size-h3);
}

h4 {
  @include PoppinsRegular();
  font-size: var(--font-size-h4);
}

// FONTS
@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}