@use "./colors" as*;
@use "./mixins" as *;
@use "./themes" as *;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    @include PoppinsRegular();
}

body {
    width: 100%;
    background-color: $grayBackground;
    font-weight: 400;
    position: relative;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text); // Taille par défaut
}

main {
    margin-top: 75px;
}

button,
input,
textarea {
    outline: none;
    border: none;
}

.containerGlobal {
    width: 100%;
    box-sizing: border-box;
}

.c-scrollbar {
    z-index: 999;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

// FONTS
@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: var(--font-weight-regular);
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: var(--font-weight-bold);
    font-style: normal;
}

:root {
    --font-poppins: 'Poppins', sans-serif;
}