@use '../../app/styles/global.scss' as *;
@use "../../app/styles/colors" as*;

.login-form-container {
    height: fit-content;
    margin: auto;
    width: 80%;

    h1 {
        margin: 0 auto;
        padding: 0;
        font-size: var(--font-size-h1);
        font-family: var(--font-weight-semi-bold);
        color: #{$lightBlue};
        margin-bottom: 10vh;
        font-weight: bold;
        width: fit-content;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        input[type="text"], input[type="password"] {
            background-color: #{$grayBackground} !important;
            width: 100%;
        }
        button {
            width: 100%;
            padding: 15px;
            border-radius: 40px;
            background-color: #{$lightBlue};
            font-size: 18px;
        }
        a {
            margin-left: auto;
            margin-bottom: 30px;
            text-decoration: unset;
            color: #{$darkGray};
            font-family: var(--font-weight-regular);
            font-size: var(--font-size-text);
    
            &:hover {
                text-decoration: underline !important;
            }
        }
    
        .text-field {
            border: none !important;
            width: 100%;
            margin-bottom: 30px !important;
            label {
                font-size: 16px;
                font-family: var(--font-weight-regular);
                color: black !important;
            }
            fieldset {
                border: none !important;
            }
        }
        
        .link {
            width: fit-content;
        }
    }    
}


