@use '../../../app/styles/global' as *;
@use '../../../app/styles/colors' as *;
@use '../../../app/styles/mixins' as *;


$drawerWidth: 240px;
$drawerClosedWidth: 60px;

.drawer {
  white-space: nowrap;
  overflow-x: hidden;
  transition: width 0.3s ease;
  position: relative;
}

.drawerOpen {
  width: $drawerWidth !important;
}

.drawerClosed {
  width: $drawerClosedWidth !important;
}

.toggleButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  z-index: 10;
}

.sidebarContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;

  hr {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    border: 1px solid $grayBackground;
  }

  .logoSidebar {
    display: flex;
    justify-content: center;
  }

  .profilSidebar {

  }
}

.iconButtonListParent {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .iconButtonList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}