@import '../../../scss/colors';
@import '../../../scss/mixins';

.sidebarContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  // height: 100%;
  transition: width 0.3s ease;
  background-color: $grayPanel;

  &.sidebarOpen {
    width: 350px;
  }

  &.sidebarClosed {
    width: 80px;
  }

  .toggleButton {
    position: absolute;
    top: 30px;

    background: white;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    z-index: 10;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.sidebarLeft {
    .toggleButton {
      right: -15px;
    }

    .sidebarContent {
      border-right: solid 1px $grayTable;
    }
  }

  &.sidebarRight {
    .toggleButton {
      left: -15px;
    }

    .sidebarContent {
      border-left: solid 1px $grayTable;
    }
  }

  .sidebarContent {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .sidebarContainer {
    position: fixed;
    top: 0;
    transition: transform 0.3s ease;
    height: 100%;
    
    &.sidebarLeft {
      left: 0;
      transform: translateX(-100%); // Caché par défaut

      .toggleButton {
        top: 15px;
        left: 15px;
      }

      &.sidebarOpen {
        transform: translateX(0); // Couvre tout l'écran
        width: 100%;

        .toggleButton {
          right: 20px;
          left: auto;
        }
      }

      &.sidebarClosed {
        width: 80px; // Taille des icônes uniquement
        right: -30px;

        .toggleButton {
          right: -40px;
          left: auto;
        }
      }
    }

    &.sidebarRight {
      right: 0;
      transform: translateX(100%); // Caché par défaut

      .toggleButton {
        top: 15px;
        right: 15px;
      }

      &.sidebarOpen {
        transform: translateX(0); // Couvre tout l'écran
        width: 100%;

        .toggleButton {
          left: 20px;
          right: auto;
        }
      }

      &.sidebarClosed {
        width: 80px;
        right: 0;

        .toggleButton {
          left: -40px;
          right: auto;
        }
      }
    }
  }
}