@use '../../app/styles/global.scss'as *;
@use '../../app/styles/colors.scss'as *;
@use '../../app/styles/mixins.scss'as *;

.parentContainer {
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        // pour pouvoir scroll dans le parent
        height: 100vh;
        overflow-y: scroll;

        .subPage {
            padding: 0 30px 30px;
        }
    }

    @include mixinBreakpoints(xs) {
        margin-left: 60px;
    }
}