@use '../../app/styles/global.scss'as *;
@use '../../app/styles/colors.scss'as *;
@use '../../app/styles/mixins.scss'as *;

.parentContainer {
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .subPage {
            padding: 20px;
        }
    }

    @include mixinBreakpoints(xs) {
        margin-left: 60px;
    }
}