@use '../../../app/styles/global'as *;
@use '../../../app/styles/colors'as *;
@use '../../../app/styles/mixins'as *;


:has(.createEmployeeContainer) {
  overflow-y: hidden;
}

.createEmployeeContainer {
  display: flex;
  background-color: $white;
  padding: 20px 30px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: calc(100% - 40px);
  gap: 30px;

  @include mixinBreakpoints(xs) {
    padding: 15px 20px;
    gap: 20px;
  }

  .menu {
    position: sticky;
    top: 20px;
    align-self: flex-start;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;

    button {
      justify-content: flex-start;

      @include mixinBreakpoints(lg) {
        :global(.iconTextGlobal) {
          display: none;
        }
      }
    }
  }

  .separator {
    width: 1px;
    background-color: $grayBackground;
  }

  .content {
    flex: 1;
    position: relative;
    overflow-y: auto;
    padding-right: 16px;

    .sectionTitle {
      font-size: 25px;
      font-weight: var(--font-weight-medium);
    }

    .subSectionTitle {
      color: $darkGray;
      font-size: 15px;
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: solid 1px $grayBackground;
    }

    .selectRole {
      margin-top: 25px;
      width: 50%;

      @include mixinBreakpoints(xl) {
        width: 100%;
      }
    }

    .validateButtons {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 10px;
      margin-top: 50px;
      justify-content: flex-end;
    }
  }

  .section {
    margin-bottom: 48px;
  }

  .formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @include mixinBreakpoints(xl) {
      grid-template-columns: 1fr;
    }
  }

  .checkboxGroup {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
  }
}