.calendarContainer {
  background-color: white;

  .fc {
    background-color: white;
  }
}

.detachedHeader {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 20px 0;
  justify-content: space-between;
}