@use "./../../../app/styles/themes.scss" as *;

.profileContainer {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    color: #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .initial {
    position: relative;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-size: var(--font-size-h4);
    font-weight: 600;
    color: #333;
  }
  
  .subtitle {
    font-size: var(--font-size-text);
    color: #999;
  }
  