@use "../../app/styles/colors"as *;
@use "../../app/styles/mixins"as *;
@use "../../app/styles/themes"as *;

.missionsContainer {
    background-color: $white;
    height: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 300px);
    

    .MissionsList {
        border-collapse: collapse;
        width: 100%;
        color: $darkBlue;
        box-sizing: border-box;

        thead {
            background-color: $lightGrayBlue;
            position: sticky;
            top: 0;
            z-index: 10;

            th:last-child {
                text-align: center;
            }
        }

        th, td {
            @include PoppinsMedium();
            text-align: start;
            font-size: var(--font-size-text);
            padding: 20px;

            .grayText{
                color: $darkGray;
                display: block;
                font-size: var(--font-size-small-text);
            }

            .redText {
                color: $pink;
                width: fit-content;
                display: flex;
                align-items: center;
                font-size: var(--font-size-tiny-text);

                svg {
                    margin-right: 5px;
                }
            }
        }

        tbody {
            tr {
                background-color: $white;
                padding-left: 2px;

                &:hover {
                    background-color: $lightGrayBlue;
                    border-left-color: $darkBlue;
                    padding-left: 0;
                }

                th, td {
                    font-size: var(--font-size-moderate-text);
                }

                .teamList {
                    padding-left: 5px;
                    flex-direction: column;

                    li {
                        display: list-item;
                        list-style: inside;
                    }
                }
            }
        }
    }
}
