@use '../../app/styles/global.scss' as *;
@use "../../app/styles/colors" as *;
@use '../../app/styles/mixins' as *;

.listEmployeeContainer {
    display: grid;
    grid-template-columns: repeat(1, 80%);
    grid-column-gap: 5%;
    grid-row-gap: 20px;

    @include mixinStart(lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixinStart(xxl) {
        grid-template-columns: repeat(3, 30%);
    }

    .employe_container {
        max-width: 100%;
    }
}

.addButtonContainer {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 20px;
    bottom: 35px;
    right: 35px;

    .blurEffect {
        position: absolute;
        width: 300px;
        height: 150px;
        right: 0;
        bottom: 0;
        transform: translate(35%, 35%);
        border-radius: 50%;
        background: radial-gradient(circle, $blue 0%, rgba(217, 217, 217, 0) 70%);
        filter: blur(50px);
        z-index: 0;
    }

    .addButtonTexte {
        z-index: 1;
        padding: 10px 15px;
        background-color: $white;
        border-radius: 8px;
        font-weight: var(--font-weight-medium);
    }

    .addButton {
        z-index: 1;
        border: none;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        font-size: 35px;
        background-color: $blue;
        color: $white;
        cursor: pointer;
    }
}